@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@using EmployeeDrawings.Data;
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@attribute [Authorize]

<PageTitle>All Users</PageTitle>

<h1>All Users in Organization</h1>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>DisplayName</th>
                <th>UserPrincipalName</th>
                <th>JobTitle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users) {
                <tr>
                    <td> @user.DisplayName </td>
                    <td> @user.UserPrincipalName </td>
                    <td> @user.JobTitle </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<User>? users;

    protected override async Task OnInitializedAsync()
    {
        try {
            if (Cache.AllUsers.Count() == 0) {
                IGraphServiceUsersCollectionPage? data = await GraphServiceClient.Users.Request().GetAsync();

                users = new List<User>();
                users = users.Concat(data);

                var next = data.NextPageRequest;

                while (next != null) {
                    data = await next.GetAsync();
                    users = users.Concat(data);
                    next = data.NextPageRequest;
                }

                /*
                IEnumerable<User>? tmp = users.Where(
                        user => (
                        user.CompanyName.Contains("Oneida") && !(user.DisplayName.Contains("ADM")) &&
                        user.UserPrincipalName.Contains("oneidanation.org") && user.DisplayName.Contains(" ") &&
                        !user.Department.Equals(String.Empty) && !user.JobTitle.Equals(String.Empty)
                )
                );
                */

                Cache.AllUsers = users;

                /*
                foreach (User user in users.Where(
                    user => user != null && user.CompanyName.Contains("Oneida") && !(user.DisplayName.Contains("ADM")) && 
                    user.UserPrincipalName.Contains("oneidanation.org") && user.DisplayName.Contains(" ") &&
                    !user.Department.Equals(String.Empty) && !user.JobTitle.Equals(String.Empty)
                ))
                {
                    Console.WriteLine(user);
                }
                Console.WriteLine("Cache Updated");
                */

                // Cache.AllUsers = users.ToList<User>();
            } else {
                users = Cache.AllUsers;
            }
        }
        catch (Exception ex) {
            Console.WriteLine("Error:");
            Console.WriteLine(ex.StackTrace);
            Console.WriteLine("\t" + ex.Message);
        }
    }
}
